fastapi[all]==0.94.1
uvicorn==0.21.0
gunicorn==20.1.0
prisma==0.8.2
pydantic[all, email]==1.10.6
starlette==0.27.0
python-dotenv==1.0.0
python-jose
passlib
bcrypt
motor
pymongo
tenacity
pytest==7.2.2
pytest-asyncio
faker==17.6.0
faker-commerce
aiohttp
loguru
pre-commit
pytest-cov
fastapi_ecommerce_ext