worker_processes auto;

events {
    worker_connections 4096;
}

error_log /dev/stdout info;

http {
    include /etc/nginx/includes/log_format.conf;
    access_log /dev/stdout;

    server_names_hash_bucket_size 128;
    server_tokens off;
    sendfile off;

    upstream auth_service {
        zone auth_service 64k;
        server auth_service:80;
    }
    upstream store_service {
        zone store_service 64k;
        server store_service:80;
    }
    server {
        server_name www.fastapi-ecommerce.com fastapi-ecommerce.com;
        include /etc/nginx/includes/listen.conf;
        include /etc/nginx/includes/ssl.conf;

        location / {
            try_files $uri $uri/ =404;
        }
    }
    server {
        server_name auth-service.fastapi-ecommerce.com;
        include /etc/nginx/includes/listen.conf;
        include /etc/nginx/includes/ssl.conf;

        location / {
            include /etc/nginx/includes/proxy.conf;
            proxy_pass         http://auth_service;
            proxy_redirect     off;
        }
    }
    server {
        server_name store-service.fastapi-ecommerce.com;
        include /etc/nginx/includes/listen.conf;
        include /etc/nginx/includes/ssl.conf;

        location / {
            include /etc/nginx/includes/proxy.conf;
            proxy_pass         http://store_service;
            proxy_redirect     off;
        }
    }
}
